<footer class="footer">
    © Kashish Codeial -- All Rights Reserved

    <div class="foot">
        <div>
            <a href="/" class="content2">
                Home
            </a>
        </div>
        <div>
            <a href="/users/profile" class="content2">
                Profile
            </a>
        </div>
    </div>
</footer>