<div class="auth">
    <header id="header">
        Codeial
    </header>

    <ul class="list">
        <% if (locals.user){ %>
            <li>
                <a href="/users/profile" class="content">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/sign-out" class="content">Sign Out</a>
            </li>
            <% }else{ %>

                <li>
                    <a href="/users/sign-in" class="content">Sign In</a>
                </li>

                <li>
                    <a href="/users/sign-up" class="content">Sign Up</a>
                </li>


                <% } %>
    </ul>

</div>